// src/app/pages/settings/settings.component.scss

.settings-details {
  width: 97%;
  padding: 25px;

  form {
    padding: 20px;
  }

  .settings-details-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    >div {
      width: 100%;

      h3 {
        margin-bottom: 10px;
      }

      .form-field {
        width: 100%;

        mat-form-field {
          width: 100%;
        }
      }

      mat-checkbox {
        display: block;
        margin-bottom: 10px;
      }
    }
  }

  .button-container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 10px;
    }
  }
}
