@use "sass:map";
@use "@angular/material" as mat;

@mixin theme($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $warn: map.get($theme, warn);
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);

    app-documentation {
        .app-headerbackground {
            background: mat.get-color-from-palette($primary);
        }

        .app-headerheadline {
            color: mat.get-color-from-palette($primary, default-contrast);
        }

        .app-headerstart {
            color: mat.get-color-from-palette($primary);

            .app-link {
                color: mat.get-color-from-palette($primary, default-contrast);
            }
        }

        .app-documentation-row {
            color: mat.get-color-from-palette($foreground, secondary-text);
        }

        .app-documentation-carousel-row h2 {
            color: mat.get-color-from-palette($foreground, secondary-text);
        }

        a.app-link,
        a.app-featured-components-carousel-item {
            color: mat.get-color-from-palette($foreground, secondary-text);
        }

        .app-documentation-guides-card,
        a.app-link:hover {
            color: mat.get-color-from-palette($foreground, text);
        }

        .app-documentation-guides-card-divider {
            background: mat.get-color-from-palette($accent);
        }

        [carousel-item]:hover {
            .app-documentation-guides-card {
                background: mat.get-color-from-palette($background, hover);
            }
        }

        [carousel-item]:focus {
            .app-documentation-guides-card {
                background: mat.get-color-from-palette(
                        $background,
                        focused-button
                );
            }

            outline: none;
        }
    }
}
