<!-- src/app/pages/profile-select-dialog/profile-select-dialog.component.html -->
<h2 mat-dialog-title>{{ data.message }}</h2>
<div class="dialog-content">
    <div class="form-field">
        <mat-form-field class="profile-select-field">
            <mat-label class="profile-select-label">Select Profile</mat-label>
            <mat-select class="profile-select" [(ngModel)]="selectedProfile" required>
                @for (profile of profiles$ | async; track profile) {
                    <mat-option class="profile-option" [value]="profile.uuid">
                        {{ profile.name }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="button-container">
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button
        mat-button
        class="submit-button"
        type="submit"
        (click)="onSelectClick()"
        [disabled]="!selectedProfile"
    >
        Select
    </button>
</div>
