// src/app/pages/confirmation-dialog/delete-dialog.scss

.mat-dialog-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.mat-dialog-content {
    margin-bottom: 20px;
}

.button-container {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;

    button {
        margin-right: 5px;
    }
}

.form-field {
    mat-form-field {
        width: 100%;
    }
}
