// src/styles/themes/_app-theme.scss

@use "../../../node_modules/@angular/material/index" as mat;
@use "sass:map";
@use "../../app/pages/auth/login/login-theme";
@use "../../app/pages/documentation/documentation-theme";
@use "../../app/pages/guide-list/guide-list-theme";
@use '../../app/pages/homepage/homepage-theme' as homepage;
@use '../../app/pages/inventory-list/inventory-list-theme' as inventory-list;
@use "../../app/pages/not-found/not-found-theme";
@use "../../app/pages/job-details/job-details-theme";
@use "../../app/pages/profile-select-dialog/profile-select-dialogue-theme";
@use "../../app/shared/carousel/carousel-theme";
@use "../../app/shared/navbar/navbar-theme";
@use "../../app/shared/sidenav/sidenav-theme";
@use "../../app/shared/table-of-contents/table-of-contents-theme";
@use "../components/markdown-theme";
@use "../components/svg-theme";
@use "../components/tables-theme";

// Styles for the docs app that are based on the current theme.
@mixin theme($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $warn: map.get($theme, warn);
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);
    $next-theme: mat.define-palette(mat.$red-palette);

    .app-background {
        background: mat.get-color-from-palette($background, background);
    }

    .app-primary-header {
        background: mat.get-color-from-palette($primary);

        h1 {
            color: mat.get-color-from-palette($primary, default-contrast);
        }
    }

    .app-help-support {
        color: mat.get-color-from-palette($foreground, secondary-text);

        a {
            color: mat.get-color-from-palette($foreground, text);
        }
    }

    @include carousel-theme.theme($theme);
    @include documentation-theme.theme($theme);
    @include guide-list-theme.theme($theme);
    @include homepage.theme($theme);
    @include inventory-list.theme($theme);
    @include job-details-theme.theme($theme);
    @include login-theme.theme($theme);
    @include markdown-theme.theme($theme);
    @include navbar-theme.theme($theme);
    @include not-found-theme.theme($theme);
    @include profile-select-dialogue-theme.theme($theme);
    @include sidenav-theme.theme($theme);
    @include svg-theme.theme($theme);
    @include tables-theme.theme($theme);
    @include table-of-contents-theme.theme($theme);
}
