<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/home">Home</button>
  <button mat-button routerLink="/login">Login</button>
  <button mat-button routerLink="/register">Register</button>
  <button mat-button routerLink="/logout">Logout</button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/upgrade">Upgrade</a>
      <a mat-list-item routerLink="/jobs">Jobs</a>
      <a mat-list-item routerLink="/login">Login</a>
      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/inventory">Inventory</a>
      <a mat-list-item routerLink="/settings">Settings</a>

    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
  </div>
</mat-drawer-container>
<router-outlet></router-outlet>
