// src/app/app.scss

@use "../styles/base/constants";

app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content-container {
    flex: 1;
    overflow-y: auto;
}

@media (max-width: constants.$extra-small-breakpoint-width) {
    .content-container {
        margin-top: 92px;
    }
}
