.venv
__pycache__/
db.sqlite3
.DS_Store
.vscode/settings.json
.chatgpt/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
frontend/node_modules/
frontend/.angular/
backend/pan_os_upgrade_web/scripts/.env

# exclude certs
**.crt
**.key
**.pem

# exclude dist folder
frontend/dist/**

backend/.env
backend/staticfiles/
backend/media/profile_images/**
backend/panosupgradeweb/migrations/**
backend/packages/*.whl
**.ai
llm.md

.vscode/settings.json
