// src/app/shared/layout/layout.scss

:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

app-sidenav {
    z-index: 2;
}

app-content {
    flex: 1;
    overflow-y: auto;
}
