// src/app/shared/layout/layout.scss

:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

app-sidenav {
    display: flex;
    flex: 1;
}

.footer {
    flex-shrink: 0;
}
