// src/app/pages/profile-list/profile-list.scss

.profile-list-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    //min-height: 100vh;
    //width: 99%;
    padding: 20px;
}

.profile-list {
    width: 97%;
    padding: 25px;

    .table-header {
        margin-bottom: 20px;

        h2 {
            margin: 0;
        }

        .button-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;

            .button-container {
                display: flex;
                justify-content: flex-start;

                button {
                    margin-right: 8px;
                }
            }

            .selected-actions {
                display: flex;
                justify-content: flex-end;

                button {
                    margin-left: 8px;
                }
            }
        }
    }

    .mat-table {
        width: 100%;

        .mat-row {
            &:hover {
                .mat-cell {
                    background-color: rgba(0, 0, 0, 0.2);
                }
            }
        }

        .mat-cell {
            padding-right: 20px;
            transition: background-color 0.3s;
        }

        .mat-header-cell {
            font-weight: bold;
        }

        .edit-button {
            margin-left: 10px;
        }
    }
}
