.app-theme-picker-menu {
    .mat-mdc-menu-item {
        .mat-icon.theme-example-icon {
            margin-right: 0;
            margin-left: auto;
            padding-left: 8px;
            order: 1;

            svg {
                vertical-align: middle;
            }

            // The below colors need to align with the themes defined in ThemePicker
            &.redtail svg {
                .app-theme-icon-background {
                    fill: #fafafa;
                }

                .app-theme-icon-button {
                    fill: #ffc107;
                }

                .app-theme-icon-toolbar {
                    fill: #673ab7;
                }
            }

            &.redtail-dark svg {
                .app-theme-icon-background {
                    fill: #303030;
                }

                .app-theme-icon-button {
                    fill: #d96704;
                }

                .app-theme-icon-toolbar {
                    fill: #395873;
                }
            }
        }
    }
}
