.panosupgrade-theme-picker-menu {
  .mat-mdc-menu-item {
    .mat-icon.theme-example-icon {
      margin-right: 0;
      margin-left: auto;
      padding-left: 8px;
      order: 1;

      svg {
        vertical-align: middle;
      }

      // The below colors need to align with the themes defined in ThemePicker
      &.deeppurple-amber svg {
        .panosupgrade-theme-icon-background {
          fill: #fafafa;
        }

        .panosupgrade-theme-icon-button {
          fill: #FFC107;
        }

        .panosupgrade-theme-icon-toolbar {
          fill: #673AB7;
        }
      }

      &.indigo-pink svg {
        .panosupgrade-theme-icon-background {
          fill: #fafafa;
        }

        .panosupgrade-theme-icon-button {
          fill: #E91E63;
        }

        .panosupgrade-theme-icon-toolbar {
          fill: #3F51B5;
        }
      }

      &.pink-bluegrey svg {
        .panosupgrade-theme-icon-background {
          fill: #303030;
        }

        .panosupgrade-theme-icon-button {
          fill: #607D8B;
        }

        .panosupgrade-theme-icon-toolbar {
          fill: #E91E63;
        }
      }

      &.purple-green svg {
        .panosupgrade-theme-icon-background {
          fill: #303030;
        }

        .panosupgrade-theme-icon-button {
          fill: #4CAF50;
        }

        .panosupgrade-theme-icon-toolbar {
          fill: #9C27B0;
        }
      }
    }
  }
}
