<!-- src/app/pages/inventory-list/inventory-list.component.html -->

<app-page-header
    [title]="config.pageTitle"
    [description]="config.pageDescription"
    [breadcrumbs]="config.breadcrumbs">
    <div class="header-buttons">
        <button mat-raised-button color="accent" (click)="navigateToCreateInventory()">
            <mat-icon>add</mat-icon>
            Add new Device
        </button>
        <button mat-raised-button color="accent" (click)="onSyncFromPanoramaClick()"
                [disabled]="!processor.isSyncFromPanoramaButtonActive(selection.selected)">
            <mat-icon>sync</mat-icon>
            Sync from Panorama
        </button>
        <button mat-raised-button color="accent" (click)="onRefreshSelectedClick()" [disabled]="!selection.hasValue()">
            <mat-icon>refresh</mat-icon>
            Refresh Selected
        </button>
        <button mat-raised-button color="warn" (click)="onDeleteSelectedClick()" [disabled]="!selection.hasValue()">
            <mat-icon>delete</mat-icon>
            Delete Selected
        </button>
    </div>
</app-page-header>

<div class="inventory-list-container">
    <main
        aria-label="Inventory list"
        id="inventory-list"
        class="inventory-list"
    >

        <table
            mat-table
            [dataSource]="dataSource"
            matSort
            (matSortChange)="announceSortChange($event)"
            class="mat-elevation-z2"
        >
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox
                        (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()"
                    >
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)"
                    >
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Hostname Column -->
            <ng-container matColumnDef="hostname">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by hostname"
                >
                    Hostname
                </th>
                <td mat-cell *matCellDef="let item">{{ item.hostname }}</td>
            </ng-container>

            <!-- IPv4/IPv6 Address Column -->
            <ng-container matColumnDef="management_ip">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by management IP"
                >
                    Management IP
                </th>
                <td mat-cell *matCellDef="let item">
                    {{
                        item.ipv4_address ? item.ipv4_address :
                            item.ipv6_address
                    }}
                </td>
            </ng-container>

            <!-- Device Group -->
            <ng-container matColumnDef="device_group">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by Device Group"
                >
                    Device Group
                </th>
                <td mat-cell *matCellDef="let item">
                    {{ item.device_group ? item.device_group : 'n/a' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="ha">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by HA enabled"
                >
                    HA Enabled
                </th>
                <td mat-cell *matCellDef="let item">
                    @if (item.ha_enabled) {
                        <mat-icon>done</mat-icon>
                    } @else {
                        <mat-icon>close</mat-icon>
                    }
                </td>
            </ng-container>

            <!-- PAN-OS Version Column -->
            <ng-container matColumnDef="sw_version">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by PAN-OS version"
                >
                    PAN-OS Version
                </th>
                <td mat-cell *matCellDef="let item">{{ item.sw_version }}</td>
            </ng-container>

            <!-- App-ID Content Version Column -->
            <ng-container matColumnDef="app_version">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by content version"
                >
                    Content Version
                </th>
                <td mat-cell *matCellDef="let item">{{ item.app_version }}</td>
            </ng-container>

            <!-- Inventory Type Column -->
            <ng-container matColumnDef="device_type">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by inventory type"
                >
                    Inventory Type
                </th>
                <td mat-cell *matCellDef="let item">{{ item.device_type }}</td>
            </ng-container>

            <!-- Notes Column -->
            <ng-container matColumnDef="notes">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by notes"
                >
                    Notes
                </th>
                <td mat-cell *matCellDef="let item">{{ item.notes }}</td>
            </ng-container>

            <!-- Details Column -->
            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef>Details</th>
                <td mat-cell *matCellDef="let item">
                    <button
                        mat-icon-button
                        (click)="onEditClick(item)"
                        class="view-button"
                    >
                        <mat-icon>visibility</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="config.displayedColumns"></tr>
            <tr
                mat-row
                *matRowDef="let row; columns: config.displayedColumns;"
                (click)="selection.toggle(row)"
            ></tr>
        </table>
    </main>
</div>
