.sidenav-container {
    height: 100vh;
    background-color: transparent;
}

.sidenav {
    width: 250px;
    background-color: inherit;
    transition: width 0.3s ease-in-out;
    overflow-x: hidden;

    &.minimized {
        width: 64px;

        .sidenav-text {
            display: none;
        }
    }

    .mat-nav-list {
        padding-top: 0;

        .mat-list-item {
            height: 48px;

            .sidenav-icon {
                margin-right: 16px;
            }

            .sidenav-text {
                white-space: nowrap;
            }
        }
    }

    .sidenav-toggle {
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.mat-sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content-wrapper {
    flex: 1;
    overflow-y: auto;
}

.logo {
    height: 26px;
    margin-right: 6px;
}

