// src/app/shared/sidenav/sidenav.scss

.sidenav-container {
    height: 100%;
    background-color: transparent;
}

.sidenav {
    width: 275px;
    padding: 20px;
    background-color: inherit;
    transition: width 0.3s ease;

    &.minimized {
        width: 100px;

        .sidenav-text {
            display: none;
        }
    }

    .mat-nav-list {
        .mat-list-item {
            display: flex;
            align-items: center;
            padding-left: 24px;

            .sidenav-icon {
                margin-right: 16px;
            }

            .sidenav-text {
                line-height: 24px;
            }
        }
    }

    .sidenav-toggle {
        // position: absolute;
        // top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
}
