// src/app/shared/sidenav/sidenav.scss

.sidenav-container {
    height: 100%;
    background-color: transparent;
}

.sidenav {
    width: 275px;
    padding: 20px;
    background-color: inherit;

    .mat-nav-list {
        .mat-list-item {
            display: flex;
            align-items: center;
            padding-left: 24px;

            .sidenav-icon {
                margin-right: 16px;
            }

            .sidenav-text {
                line-height: 24px; // Adjust this value to vertically align the text with the icon
            }
        }
    }
}
