@use "sass:map";
@use "@angular/material" as mat;

@mixin theme($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $warn: map.get($theme, warn);
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);

    app-homepage {
        .app-headerbackground {
            background: mat.get-color-from-palette($primary);
        }

        .app-headerheadline {
            color: mat.get-color-from-palette($primary, default-contrast);
        }

        .app-headerstart {
            color: mat.get-color-from-palette($primary);

            .app-button {
                color: mat.get-color-from-palette($primary, default-contrast);
            }
        }

        .breadcrumbs {
            color: mat.get-color-from-palette($primary, default-contrast);
        }

        .app-homepage-row {
            color: mat.get-color-from-palette($foreground, secondary-text);
        }

        .app-homepage-row-column {

            .chart-container {
                margin-top: 20px;
                margin-bottom: 20px;
                color: mat.get-color-from-palette($foreground, text);
                background-color: mat.get-color-from-palette($foreground, 100);
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .chart-container h3 {
                margin-bottom: 10px;
                color: mat.get-color-from-palette($foreground, secondary-text);
            }
        }

        .app-homepage-carousel-row h2 {
            color: mat.get-color-from-palette($foreground, secondary-text);
        }

        a.app-link,
        a.app-featured-components-carousel-item {
            color: mat.get-color-from-palette($foreground, secondary-text);
        }

        .app-homepage-guides-card,
        a.app-link:hover {
            color: mat.get-color-from-palette($foreground, text);
        }

        .app-homepage-guides-card-divider {
            background: mat.get-color-from-palette($accent);
        }

        [carousel-item]:hover {
            .app-homepage-guides-card {
                background: mat.get-color-from-palette($background, hover);
            }
        }

        [carousel-item]:focus {
            .app-homepage-guides-card {
                background: mat.get-color-from-palette(
                        $background,
                        focused-button
                );
            }

            outline: none;
        }
    }
}
