<div class="bg-dark min-vh-100 d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="clearfix">
                    <h1 class="float-start display-3 me-4">500</h1>
                    <h4 class="pt-3">Houston, we have a problem!</h4>
                    <p class="text-medium-emphasis float-start">
                        The page you are looking for is temporarily unavailable.
                    </p>
                </div>
                <mat-form-field class="w-100">
                    <mat-label>What are you looking for?</mat-label>
                    <input matInput placeholder="Search" type="text" />
                    <button mat-icon-button matPrefix>
                        <mat-icon>search</mat-icon>
                    </button>
                    <button mat-raised-button color="primary" matSuffix>
                        Search
                    </button>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
