// src/app/shared/sidenav/_sidenav-theme.scss

@use "@angular/material" as mat;
@use "sass:map";

@mixin theme($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $warn: map.get($theme, warn);
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);
    $next-theme: mat.define-palette(mat.$red-palette);

    .live-logs {
        .polling-info {
            color: mat.get-color-from-palette($accent, 500);
            margin-bottom: 16px;
            font-style: italic;
        }

        .polling-warning {
            color: mat.get-color-from-palette($accent, 800);
            margin-bottom: 16px;
            font-style: italic;
        }

        .polling-interval-dropdown {
            mat-form-field {
                width: 50%;
            }
        }

        .log-entry {
            margin-bottom: 16px;

            .mat-card-header {
                 background: mat.get-color-from-palette($background, 500);
                padding: 8px 16px;
            }

            .mat-card-title {
                font-size: 18px;
                font-weight: bold;
                background: mat.get-color-from-palette($background, 300);
            }

            .mat-card-subtitle {
                background: mat.get-color-from-palette($foreground, 700);
            }

            .mat-drawer-container {
                height: 100%;
                background: mat.get-color-from-palette($foreground, 300);
            }

            .mat-card-content {
                padding: 16px;
                background: mat.get-color-from-palette($foreground, 300);
            }
        }
    }

    .job-details {
        width: 97%;
        padding: 20px;
    }

    .job-details-button-row {
        padding-bottom: 20px;
    }
}
