// src/app/pages/job-details/_job-details-theme.scss

@use "@angular/material" as mat;
@use "sass:map";

@mixin theme($theme) {
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $warn: map.get($theme, warn);
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);

    app-job-details {
        app-page-header {
            .app-headerbackground {
                background: mat.get-color-from-palette($primary);
            }

            .app-headerheadline {
                color: mat.get-color-from-palette($primary, default-contrast);
            }

            .app-headerstart {
                color: mat.get-color-from-palette($primary);

                ::ng-deep .mat-mdc-raised-button {
                    color: mat.get-color-from-palette($primary, default-contrast);
                }
            }

            .breadcrumbs {
                color: mat.get-color-from-palette($primary, default-contrast);
            }
        }

        .job-details {
            color: mat.get-color-from-palette($foreground, text);
            background-color: mat.get-color-from-palette($background, card);
        }

        .live-logs {
            .polling-info {
                color: mat.get-color-from-palette($accent, 500);
            }

            .polling-warning {
                color: mat.get-color-from-palette($accent, 800);
            }

            .log-entry {
                .mat-card-header {
                    background: mat.get-color-from-palette($background, 500);
                }

                .mat-card-title {
                    background: mat.get-color-from-palette($background, 300);
                }

                .mat-card-subtitle {
                    background: mat.get-color-from-palette($foreground, 700);
                }

                .mat-drawer-container {
                    background: mat.get-color-from-palette($foreground, 300);
                }

                .mat-card-content {
                    background: mat.get-color-from-palette($foreground, 300);
                }
            }
        }
    }
}
