<!-- src/app/pages/job-details/job-details.html -->
<div class="job-details-container">
    <app-job-page-header></app-job-page-header>
    <main
        focusOnNavigation
        aria-label="Job details"
        id="job-details"
        class="job-details"
    >
        <div class="mat-elevation-z2">
            <mat-card class="job-details-card">
                <mat-card-header>
                    <mat-card-title>Job Details</mat-card-title>
                    <mat-card-subtitle
                        >{{ jobItem?.task_id }}</mat-card-subtitle
                    >
                </mat-card-header>
                <mat-card-content>
                    <div class="job-details-info">
                        <p><b>Job Type</b>: {{ jobItem?.job_type }}</p>
                        <p>
                            <b>Created at</b>: {{ jobItem?.created_at |
                            date:'medium' }}
                        </p>
                        <p><b>Status</b>: {{ jobItem?.job_status }}</p>
                    </div>

                    <mat-divider></mat-divider>

                    <div class="live-logs">
                        <h3>Live Logs</h3>

                        <div class="polling-interval-dropdown">
                            <mat-form-field>
                                <mat-label>Polling Interval</mat-label>
                                <mat-select
                                    [(value)]="selectedPollingInterval"
                                    (selectionChange)="onPollingIntervalChange()"
                                >
                                    <mat-option
                                        *ngFor="let option of pollingIntervalOptions"
                                        [value]="option"
                                    >
                                        {{ option === 0 ? 'Disabled' : option /
                                        1000 + ' seconds' }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        @if (!pollingEnabled) {
                        <div class="polling-info">
                            Live job polling disabled.
                        </div>
                        } @else {
                        <div class="polling-warning">
                            Live job polling enabled.
                        </div>
                        } @if (logs.length > 0) {
                        <div>
                            @for (log of logs; track log) {
                            <mat-card class="log-entry">
                                <mat-card-header class="mat-card-header">
                                    <mat-card-title class="mat-card-title"
                                        >{{ log._source.message
                                        }}</mat-card-title
                                    >
                                    <mat-card-subtitle
                                        >Timestamp: {{ log._source['@timestamp']
                                        | date:'medium' }}
                                    </mat-card-subtitle>
                                    <mat-card-subtitle
                                        >Log Level: {{ log._source.log_level }}
                                    </mat-card-subtitle>
                                    <mat-card-subtitle
                                        >Log Sequence: {{
                                        log._source.sequence_number }}
                                    </mat-card-subtitle>
                                </mat-card-header>
                            </mat-card>
                            }
                        </div>
                        } @else if (logs.length === 0) {
                        <div>No logs found.</div>
                        }
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </main>
    <app-footer></app-footer>
</div>
