// src/app/pages/job-details/job-details.scss

.job-details-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.job-details-button-row {
    display: table-cell;
    max-width: 600px;
}

.job-details-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
}

.job-details {
    width: 97%;
    padding: 25px;

    form {
        padding: 20px;
    }

    .job-details-card {
        width: 100%;

        .job-details-info {
            gap: 20px;

            .form-field {
                mat-form-field {
                    width: 100%;
                }
            }
        }
    }
}
