<!-- src/app/pages/job-details/job-details.html -->
<div class="job-details-container">
    <main
        focusOnNavigation
        aria-label="Job details"
        id="job-details"
        class="job-details"
    >
        <div class="mat-elevation-z2">
            <mat-card class="job-details-card">
                <mat-card-header>
                    <mat-card-title>Job Details</mat-card-title>
                    <mat-card-subtitle>
                        {{ (jobDetails$ | async)?.job?.task_id }}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="job-details-info">
                        <p>
                            <b>Job Type</b>: {{ (jobDetails$ |
                            async)?.job?.job_type }}
                        </p>
                        <p>
                            <b>Created at</b>: {{ (jobDetails$ |
                            async)?.job?.created_at | date:'medium' }}
                        </p>
                        <p>
                            <b>Status</b>: {{ (jobDetails$ |
                            async)?.job?.job_status }}
                        </p>
                    </div>

                    <mat-divider></mat-divider>

                    <div class="live-logs">
                        <h3>Live Logs</h3>

                        @if ((jobDetails$ | async)?.logs?.length === 0) {
                        <div>No logs found.</div>
                        } @else {
                        <div>
                            @for (log of (jobDetails$ | async)?.logs ?? [] ;
                            track log) {
                            <mat-card class="log-entry">
                                <mat-card-header class="mat-card-header">
                                    <mat-card-title class="mat-card-title">
                                        {{ log.message }}
                                    </mat-card-title>
                                    <mat-card-subtitle
                                        class="mat-card-subtitle"
                                    >
                                        Timestamp: {{ log.timestamp |
                                        date:'medium' }}
                                    </mat-card-subtitle>
                                    <mat-card-subtitle
                                        class="mat-card-subtitle"
                                    >
                                        Log Level: {{ log.severity_level }}
                                    </mat-card-subtitle>
                                </mat-card-header>
                            </mat-card>
                            }
                        </div>
                        }
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </main>
</div>
