// src/app/pages/settings-profile-create/settings-profile-create.scss

.settings-profile-create {
  width: 97%;
  padding: 25px;

  form {
    padding: 20px;
  }

  .settings-profile-create-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .form-field {
      mat-form-field {
        width: 100%;
      }
    }
  }

  .button-container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 10px;
    }
  }
}
