@use "@angular/material" as mat;
@use "./styles/themes/app-theme";
@use "./styles/components/tables-theme";
@use "./styles/components/svg-theme";
@use "./styles/components/markdown-theme";
@use "./styles/base/general";
@use "./styles/base/constants";

// Include material core styles.
@include mat.core();

// Base styles
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

app-root {
    display: block;
    height: 100%;
}

.content-wrapper {
    min-height: 100vh;
}
