// src/app/pages/inventory-sync/inventory-sync.scss

.inventory-sync-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.inventory-sync {
  width: 97%;
  padding: 25px;

  form {
    padding: 20px;
  }

  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      margin: 0;
    }

    button {
      mat-icon {
        margin-right: 5px;
      }
    }

    .sync-header {
      display: flex;
      align-items: center;
    }
  }

  .sync-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 20px;
  }

  .sync-header {
    outline: none;
    // padding: 24px 8px;
    font-size: 20px;
    text-align: center;
    color: accent;
  }

  .sync-error {
    outline: none;
    // padding: 24px 8px;
    font-size: 20px;
    text-align: center;
    color: red;
  }

  .inventory-sync-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    >div {
      width: 100%;

      h3 {
        margin-bottom: 10px;
      }


      .form-field {
        width: 100%;

        mat-form-field {
          width: 100%;
        }
      }

      mat-checkbox {
        display: block;
        margin-bottom: 10px;
      }
    }
  }

  .button-container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 10px;
    }
  }
}
