<!-- src/app/pages/inventory-sync/inventory-sync.html -->
<div class="inventory-sync-container">

  <inventory-page-header></inventory-page-header>
  <main focusOnNavigation aria-label="Sync Inventory from Panorama" id="inventory-sync" class="inventory-sync">

    <form [formGroup]="syncInventoryForm" (ngSubmit)="syncInventory()" class="mat-elevation-z2">
      <div class="inventory-sync-grid">

        <div>
          <!-- Heading for the Panorama section -->
          <h3>Select Panorama Appliance</h3>
          <div class="form-field">
            <mat-form-field>
              <mat-label>Panorama Device</mat-label>
              <mat-select id="panoramaDevice" formControlName="panoramaDevice" required>
                <mat-option *ngFor="let device of panoramaDevices$ | async" [value]="device.uuid">
                  {{ device.hostname }} ({{ device.ipv4_address }})
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div>
          <!-- Heading for the settings profile section -->
          <h3>Select Settings Profile</h3>
          <div class="form-field">
            <mat-form-field>
              <mat-label>Profile</mat-label>
              <mat-select id="profile" formControlName="profile" required>
                <mat-option *ngFor="let profile of profiles$ | async" [value]="profile.uuid">
                  {{ profile.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="button-container">
        <button mat-raised-button color="warn" type="button" (click)="onCancel()">
          Cancel
        </button>
        <button mat-raised-button color="primary" type="submit" [disabled]="syncInventoryForm.invalid">
          Sync Inventory
        </button>
      </div>
    </form>
  </main>
  <app-footer></app-footer>
</div>
