.upgrade-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .upgrade-list {
    flex: 1;
    overflow: auto;
    padding: 16px;
  }

  .mat-form-field {
    width: 100%;
    margin-top: 16px;
  }

  button {
    margin-top: 16px;
  }
}
