.upgrade-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .upgrade-list {
    flex: 1;
    overflow: auto;
    padding: 16px;

    .selected-devices {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;

      .table-header {
        display: flex;
        justify-content: space-between;
        align-items: left;
        padding-top: 10px;

        .th {
          margin: 0;
        }

        .clear-all {
          color: var(--color-primary);
          cursor: pointer;
        }
      }
    }

    .device-card {
      width: 300px;
    }

    .confirmation-details {
      margin-top: 16px;
    }

    .dropdown {
      width: 100%;
      margin-top: 16px;
    }
  }


  button {
    margin-top: 16px;
  }
}
