<!-- src/app/pages/upgrade-list/upgrade-list.component.html -->

<div class="upgrade-list-container">
  <app-upgrade-page-header></app-upgrade-page-header>
  <main focusOnNavigation aria-label="Upgrade list" id="upgrade-list" class="upgrade-list">

    <div class="table-header">
      <h2>Devices</h2>

      <!-- Buttons -->
      <div class="button-container">
        <mat-form-field>
          <mat-label>Select a Profile</mat-label>
          <mat-select [(value)]="selectedProfile" (selectionChange)="onProfileSelect($event.value)">
            @for (profile of profiles; track profile) {
            <mat-option [value]="profile">
              {{ profile.name }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <mat-accordion>
      @for (row of devices; track row) {
      <mat-expansion-panel [expanded]="expandedRow === row" (opened)="expandedRow = row" (closed)="expandedRow = null">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ row.hostname }}</mat-panel-title>
          <mat-panel-description>
            Software Version: {{ row.sw_version }} | Content Version: {{ row.app_version }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="panel-content">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="onDeviceSelect(row)"
            [checked]="selectedDevice === row">
          </mat-checkbox>
          <p>Device Group: {{ row.device_group ? row.device_group : 'n/a' }}</p>
          <button mat-raised-button color="primary" (click)="onUpgradeClick(row)" [disabled]="!selectedProfile">
            <mat-icon>upgrade</mat-icon>
            Upgrade Device
          </button>
        </div>
      </mat-expansion-panel>
      }
    </mat-accordion>
  </main>
  <app-footer></app-footer>
</div>
