.inventory-details-container {
  display: flex;
  justify-content: center;
  // align-items: center;
  min-height: calc(100vh - 104px);
  padding: 52px;
  background-color: #f5f5f5;
}

mat-card {
  width: 800px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

mat-card-header {
  justify-content: center;
  margin-bottom: 24px;
}

mat-card-title {
  font-size: 24px;
  font-weight: 500;
  color: #333;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.error-message {
  color: #f44336;
  margin-bottom: 16px;
}

.button-flex-container {
  display: flex;
  justify-content: flex-end;
}

button {
  width: 120px;
}
