// src/app/pages/inventory-details/inventory-details.scss

.inventory-details-container {
  width: 97%;
  padding: 25px;

  h2 {
    margin-bottom: 20px;
  }

  .inventory-details-table {
    width: 100%;
    border-collapse: collapse;

    th {
      text-align: left;
      padding: 10px;
      font-weight: bold;
    }

    td {
      padding: 10px;
    }

    mat-form-field {
      width: 100%;
    }
  }

  .button-container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 10px;
    }
  }
}
