<div class="upgrade-diagram-container">
    <div class="firewall-container">
        <div class="firewall">
            <img [src]="getFirewallSrc(jobStatusDetails?.devices?.target)" alt="Firewall">
            <div class="hostname">{{ jobStatusDetails?.devices?.target?.hostname }} | {{ jobStatusDetails?.devices?.target?.local_state }} | {{ jobStatusDetails?.devices?.target?.sw_version }}</div>
        </div>
        @if (jobStatusDetails?.devices?.peer) {
            <div class="firewall">
                <img [src]="getFirewallSrc(jobStatusDetails?.devices?.peer)" alt="Peer Firewall">
                <div class="hostname">{{ jobStatusDetails?.devices?.peer?.hostname }} | {{ jobStatusDetails?.devices?.peer?.local_state }} | {{ jobStatusDetails?.devices?.peer?.sw_version }}</div>
            </div>
        }
    </div>
    <div class="status-container">
        <img [src]="statusSvg" alt="Status" class="status-svg">
        <div class="job-text">
            <h2 class="detail-label">{{ jobStatusDetails?.current_device }}</h2>
            <span class="status-text">{{ statusText }}</span>
        </div>
    </div>
</div>
