// src/app/pages/profile-create/profile-create.component.scss

.profile-create-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 20px;
}

.profile-create {
    width: 97%;
    padding: 25px;

    form {
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .profile-create-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        > div {
            width: 100%;

            h3 {
                margin-bottom: 10px;
            }

            .form-field {
                width: 100%;

                mat-form-field {
                    width: 100%;
                }
            }

            mat-checkbox {
                display: block;
                margin-bottom: 10px;
            }
        }
    }

    .button-container {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;

        button {
            margin-left: 10px;
        }
    }
}
