// src/app/pages/profile-create/profile-create.scss
.profile-create-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.profile-create {
  width: 97%;
  padding: 25px;

  form {
    padding: 20px;
  }

  .profile-create-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .form-field {
      mat-form-field {
        width: 100%;
      }
    }
  }

  .button-container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 10px;
    }
  }
}
