// src/styles/custom-themes/redtail.scss

@use "@angular/material" as mat;
@use "../../app-theme";

// Custom color palettes
$redtail-light-primary-palette: (
    50: #80bde7,
    100: #73abd1,
    200: #6699bb,
    300: #5986a5,
    400: #4c6f8c,
    500: #395873,
    600: #30485d,
    700: #273847,
    800: #1e2831,
    900: #151c1b,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
    ),
);

$redtail-light-accent-palette: (
    50: #ffd5c2,
    100: #f8bf9c,
    200: #f0a976,
    300: #e89350,
    400: #e07d2a,
    500: #d96704,
    600: #c15c03,
    700: #ab5103,
    800: #954702,
    900: #7f3d02,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
    ),
);

// Define the theme using the custom palettes
$primary: mat.define-palette($redtail-light-primary-palette);
$accent: mat.define-palette($redtail-light-accent-palette);

// Create the theme
$theme: mat.define-light-theme(
    (
        color: (
            primary: $primary,
            accent: $accent,
        ),
    )
);

// Apply to Angular Material components and your app
@include mat.all-component-themes($theme);
@include app-theme.theme($theme);
