<!-- firewall-diagram.component.html -->
<div class="upgrade-diagram-container">
    <div class="firewall-container" [class.single-firewall]="!facade.hasPeerDevice()">
        <div class="firewall-group">
            <img [ngSrc]="facade.getFirewallSrc(facade.jobStatusDetails()?.devices?.target)" alt="Firewall" class="firewall-image" width="100" height="100">
            <div class="firewall-details">
                <mat-chip-set>
                    <mat-chip [class]="facade.getHaStatusClass(facade.jobStatusDetails()?.devices?.target?.local_state, facade.jobStatusDetails()?.devices?.target?.ha_enabled)">
                        {{ facade.jobStatusDetails()?.devices?.target?.hostname }}
                    </mat-chip>
                    <mat-chip>
                        {{ facade.jobStatusDetails()?.devices?.target?.ha_enabled ? facade.jobStatusDetails()?.devices?.target?.local_state : 'standalone' }}
                    </mat-chip>
                    <mat-chip>
                        {{ facade.jobStatusDetails()?.devices?.target?.sw_version }}
                    </mat-chip>
                </mat-chip-set>
            </div>
            @if (facade.jobStatusDetails()?.current_device === facade.jobStatusDetails()?.devices?.target?.hostname) {
                <div class="status-container">
                    <img [ngSrc]="facade.statusSvg()" alt="Status" class="status-svg" width="40" height="40">
                    <div class="job-text">
                        <h2 class="detail-label">{{ facade.jobStatusDetails()?.current_device }}</h2>
                        <span class="status-text">{{ facade.statusText() }}</span>
                    </div>
                </div>
            }
        </div>

        @if (facade.hasPeerDevice()) {
            <div class="firewall-group">
                <img [ngSrc]="facade.getFirewallSrc(facade.jobStatusDetails()?.devices?.peer)" alt="Firewall" class="firewall-image" width="100" height="100">
                <div class="firewall-details">
                    <mat-chip-set>
                        <mat-chip [class]="facade.getHaStatusClass(facade.jobStatusDetails()?.devices?.peer?.local_state, facade.jobStatusDetails()?.devices?.peer?.ha_enabled)">
                            {{ facade.jobStatusDetails()?.devices?.peer?.hostname }}
                        </mat-chip>
                        <mat-chip>
                            {{ facade.jobStatusDetails()?.devices?.peer?.local_state }}
                        </mat-chip>
                        <mat-chip>
                            {{ facade.jobStatusDetails()?.devices?.peer?.sw_version }}
                        </mat-chip>
                    </mat-chip-set>
                </div>
                @if (facade.jobStatusDetails()?.current_device === facade.jobStatusDetails()?.devices?.peer?.hostname) {
                    <div class="status-container">
                        <img [ngSrc]="facade.statusSvg()" alt="Status" class="status-svg" width="40" height="40">
                        <div class="job-text">
                            <h2 class="detail-label">{{ facade.jobStatusDetails()?.current_device }}</h2>
                            <span class="status-text">{{ facade.statusText() }}</span>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
