<!-- frontend/src/app/views/dashboard/dashboard.component.html -->

<div class="col-xs-12">
    <mat-card class="mb-3">
        <mat-card-header>
            <mat-card-title>
                <strong>Automation Catalog</strong>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <nav
                mat-tab-nav-bar
                [backgroundColor]="background"
                [tabPanel]="tabPanel"
            >
                <a
                    mat-tab-link
                    *ngFor="let link of links"
                    (click)="activeLink = link"
                    [active]="activeLink == link"
                >
                    {{ link }}
                </a>
                <a mat-tab-link disabled>Disabled Link</a>
            </nav>
            <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
        </mat-card-content>
    </mat-card>
</div>
